.bundle/
.config/
.dnx/
.docker/
.gem/
.nuget/
.oracle_jre_usage/
.PyCharm2016.1/
.ssh/
.VirtualBox/
.vs/
.WebStorm2016.1/
.zenmap/
AppData/
conemu/
Contacts/
Desktop/
Development/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/

.babel.json
.continuum_docker_profile
.gitconfig
.viminfo
NTUSER*
.v8flags*
.node_repl_history