#babun
.local/
.zcompdump*
.zsh_history
bin
.pact/
.vim/
.oh-my-zsh/


.bundle/
.config/
.dnx/
.docker/
.gem/
.nuget/
.oracle_jre_usage/
.PyCharm2016.1/
.ssh/
.VirtualBox/
.vs/
.WebStorm2016.1/
.zenmap/
AppData/
Application Data/
conemu/
Cookies/
Contacts/
Desktop/
Development/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Local Settings/
Music/
My Documents/
OneDrive/
Pictures/
Saved Games/
Searches/
Recent/
SendTo/
Start Menu/
Videos/

.babel.json
.continuum_docker_profile
.gitconfig
.viminfo
NTUSER*
.v8flags*
.node_repl_history
